.Main {
	height: 100%;
	width: 100%;

	background-image: url("/back.png");
	background-repeat: no-repeat;
	background-position: center -0%;
	background-size: cover;
}

.title {
	font-size: 110px;
	margin: auto;
	margin-bottom: 20px;
	width: fit-content;
}