.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.navBar {
	flex: 0 0 80px;

	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 100%;

	margin: auto;
	margin-top: 25px;
	/* background-color: green */
}

.navI {
	width: 300px;
	height: 40px;
	background-color: rgb(0, 0, 87);
	border: 1px solid white;
	color: white;
	font-size: 20px;
}

.navB {
	width: fit-content;
	height: 44px;
	background-color: rgb(0, 0, 87);
	border: 1px solid white;
	color: white;
	margin-right: 50px;
}

@media screen and (max-width: 1020px) {
	.navBar {
		margin-top: 120px;
	}
}

.content {
	flex: 1;
	width: 100%;
	overflow: hidden;
}

.searchPlayerPanel {
	width: 99%;
	height: auto;
	max-height: 99%;
	overflow: hidden;
}

.hidden {
	display: none;
}