
##### DOCKER CONTAINER USER
DOCKER_UID="1000"
DOCKER_GID="1000"
DOCKER_USER="docker-user"

###### NGINX
VERSION_NGINX="1.23.2-alpine"
PORT_NGINX_HOST="443"
PORT_NGINX="443"

###### FRONT
VERSION_FRONT="19-alpine"
PORT_FRONT="9000"

###### BACK
VERSION_BACK="19-alpine"
PORT_BACK="3000"

###### POSTGRESS
VERSION_POSTGRES="15-alpine"
PORT_POSTGRES="5432"
POSTGRES_HOST="postgres-dev"
POSTGRES_USER="test"
POSTGRES_PASSWORD="test"
POSTGRES_DB="test_db_postgres"

###### CONNECTION FROM FRONTEND
CONNECT_URL="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-a90700412bf1d5b5899d47c748d233552ee6b8d8473407e8afdcb396067057fe&redirect_uri=https%3A%2F%2Flocalhost%2Fconnect&response_type=code"

###### FOR CREATE COOKIE AND TOKEN IN BACKEND
JWT_SECRET="ec9c3a34e791bda21bbcb69ea0eb875857497e0d48c75771b3d1adb5073ce791"
JWT_EXPIRATION_TIME="3600"

42_CLIENT_ID="u-s4t2ud-a90700412bf1d5b5899d47c748d233552ee6b8d8473407e8afdcb396067057fe"
42_CLIENT_SECRET="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"