.title {
	margin: auto;
	font-size: 40px;
	color: black;
	width: fit-content;
	height: fit-content;

	margin-bottom: 20px;
}

.main {
	width: 100%;
	min-height: fit-content;
	/* height: 100vh; Si la fenêtre est plus grande que le contenu */
	display: flex;
	flex-direction: column;
}

.button {
	height: fit-content;
	width: fit-content;
	font-size: 25px;
	margin: auto;
}

.panel {
	flex: 1;
	min-width: 800px;
	width: 100%;
	min-height: fit-content;
	/* background-color: aqua; */
	
	display: flex;
	flex-direction: row;
	/* background-color: brown; */
}

.list {
	flex: 0 0 300px;

	min-height: 800px;
	height: calc(100vh - 120px);
	display: flex;
	flex-direction: column;
	justify-content: end;
	/* background-color: blue; */
}

.content {
	flex: 1;
	min-height: fit-content;
	/* background-color: green; */
}

.form {
	height: calc(100% - 150px);
	min-height: calc(100% - 150px);
	width: 290px;
	background-color: rgb(0, 0, 95);
	border-radius: 0 5px 5px 0;
	border-top: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;

	margin: 0;
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: start;
}

/* @media screen and (min-width: 900px) {
	.form {
		height: calc(100vh - 250px);
		min-height: calc(900px - 325px);
		margin-bottom: 10px;
	}
} */

.formTitle {
	flex: 0 0 50px;

	width: 100%;
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

.formContent {
	flex: 1;
	background-color: rgba(0, 0, 0, 0.116);
	overflow-y: scroll;

	/* display: flex;
	flex-direction: column-reverse;
	justify-content: start; */
}

.selector {
	width: 600px;
	height: 80px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: rgb(0, 0, 95);
	border: 1px solid white;

	position: absolute;
	top: 120px;
	left: 10px;
}

.selectable {
	width: 50%;
	height: 100%;
	background-color: rgba(240, 255, 255, 0);
	color: white;
	font-size: 30px;
	border: 0;
	border-radius: 10px;
}

.selectable:hover {
	background-color: rgba(0, 7, 46, 0.445);
}

.selectable:nth-child(1) {
	border-right: 1px solid white;
}

.selectable:nth-child(2) {
	border-left: 1px solid white;
}

.selected {
	background-color: rgb(0, 7, 46);
}

.user_case {
	width: 100%;
	height: fit-content;
	min-height: 50px;
	background-color: rgb(2, 0, 128);
	margin: auto;
	margin-bottom: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	transition: 0.2s linear;
}

.user_case_name {
	height: fit-content;
	margin: auto 0;
	flex: 1;
	margin-left: 5px;
	overflow: hidden;
}

.user_case_button_section {
	flex: 0 0 30px;
	height: 100%;
	margin: auto 0;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 5px;
	padding: 0 3px;
}

.user_case:hover {
	padding: 10px 0;
}

.user_case_icon_box {
	height: 30px;
	width: 30px;
	padding: 10px;
	transition: 0.2s linear;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.137);
}

.user_case_icon {
	height: 30px;
	width: 30px;
}

.user_case_icon_box:hover {
	transform: scale(1.1);
}

.hidden {
	display: none;
}
