.Main {
	min-height: 100%;
	height: fit-content;
	width: 100%;

	background-image: url("/back2.jpg");
	/* background-color: bisque; */
	background-repeat: no-repeat;
	background-position: center -0%;
	background-size: cover;
}